<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>UpperBlog</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="area-hamburguer">
                <div class="hamburguer"></div>
            </div>
            <div class="logo-header">
                <img src="public/images/logo01.png" alt="" srcset="">
            </div>
            <ul class="navbarAdmin">
                <li><a href="index.html">Artigos</a></li>
                <li><a href="#news">Categorias</a></li>
                <li><a href="#news">Sair</a></li>
            </ul>
        </header>

        <main class="main-categories">
            <h1>Categorias</h1>
            <table class="table-categories">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Slug</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>01</td>
                        <td>Desenvolvimento Web</td>
                        <td>Desenvolvimento-Web</td>
                        <td class="td-exc">
                            <a href="">Editar</a>

                            <form action="" method="post">
                                <input type="hidden" name="" id="">
                                <button type="submit">Excluir</button>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>Desenvolvimento Web</td>
                        <td>Desenvolvimento-Web</td>
                        <td class="td-exc">
                            <a href="">Editar</a>

                            <form action="" method="post">
                                <input type="hidden" name="" id="">
                                <button type="submit">Excluir</button>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>Desenvolvimento Web</td>
                        <td>Desenvolvimento-Web</td>
                        <td class="td-exc">
                            <a href="">Editar</a>

                            <form action="" method="post">
                                <input type="hidden" name="" id="">
                                <button type="submit">Excluir</button>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>Desenvolvimento Web</td>
                        <td>Desenvolvimento-Web</td>
                        <td class="td-exc">
                            <a href="">Editar</a>

                            <form action="" method="post">
                                <input type="hidden" name="" id="">
                                <button type="submit">Excluir</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>

        
        <!-- <footer></footer> -->
    </div>

    <script src="public/js/showNavAdmin.js"></script>
</body>
</html>